@import 'tailwindcss';



@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {

  /*Início body */
  .main-container {
    @apply min-h-screen bg-black/90 text-white;
  }



  /* Início header */

  .header {
    @apply flex justify-center items-center fixed top-0 bg-amber-50/10 w-[100%] h-30;
  }

  .content-header {
    @apply grid grid-cols-3 items-center justify-items-center w-[100%] h-[100%];
  }

  .title-logo {
    @apply text-4xl font-bold text-[#b63129];
  }

  .list-nav-links {
    @apply flex justify-around w-64;
  }

  /* Fim header */

  /* Início do conteúdo */

  .content {
    @apply min-h-screen flex flex-col justify-center items-center
  }

  /* Aviso de sucesso */

  .msg-box {
    @apply mb-5 w-[500px] py-5 flex justify-center rounded-2xl;
  }

  /* Fim aviso de sucesso */

  /* Início Formulário */
  .form-container {
    @apply w-[500px] text-stone-50 p-10 border-gray-400 border-2 rounded-2xl;
  }

  .content-box {
    @apply w-[100%] flex justify-center;
  }

  .input-box {
    @apply flex flex-col justify-between mb-10;
  }

  .input {
    @apply border-gray-400 border-2 rounded-2xl w-[100%] py-3 px-5;
  }

  .button {
    @apply bg-[#b63129] font-semibold px-8 py-3 rounded-xl;
  }

  /* Fim formulário */

  /* Fim conteúdo */

  /* Fim página de cadastro */


}

@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') format('opentype');
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Poppins", sans-serif;
}